VITE_FORMSPREE_CONTACT=
VITE_FORMSPREE_LIFE=
RESEND_API_KEY=
FROM_EMAIL=contact@buildwithsravan.dev
SUPPORT_EMAIL=lyfspot@zohomail.in
REPLY_TO_EMAIL=contact@buildwithsravan.dev
APP_NAME="Sravan Sai Vuppula Portfolio"
COMPANY_NAME="LYFSpot"